@import "../../../sass/variables.module.scss";

.Loading {
  background-image: linear-gradient(to bottom right, #aef3e7, #37718e);
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & .Load {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
