@import "../variables.module.scss";

.SignIn {
  width: 50%;
  @include position;
  
  & form {
    :nth-child(3) {
      margin-top: 3%;
    }
    & h5 {
      @include header;
    }
    & .FormGroup {

      & label {
        color: $color-primary;
      }
      & input,
      label,
      span,
      textarea {
        display: block;
        margin: 10px;
        padding: 5px;
        border: none;
        font-size: 1rem;
        font-family: inherit;
        height: 20px;
      }

      & input:focus,
      textarea:focus {
        outline: 0;
      }

      & input.Question,
      textarea.Question {
        filter: grayscale(100%) brightness(110%);
        font-weight: 300;
        border-radius: 2px;
        margin: 0;
        border: none;
        width: 80%;
        background: rgba(0, 0, 0, 0);
        transition: padding-top 0.2s ease, margin-top 0.2s ease;
        overflow-x: hidden;
      }

      & input.Question + label,
      textarea.Question + label {
        display: block;
        position: relative;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        width: 30%;
        border-top: 1px solid $color-primary;
        -webkit-transition: width 0.4s ease;
        transition: width 0.4s ease;
        height: 0px;
      }

      input.Question:focus + label,
      textarea.Question:focus + label {
        width: 80%;
        border-top: 1px solid $color-pink;
      }

      input.Question:focus + label > span,
      input.Question:valid + label > span,
      textarea.Question:focus + label > span,
      textarea.Question:valid + label > span {
        top: -50px;
        color: $color-primary;
      }

      // input.Question:valid + label,
      // textarea.Question:valid + label {
      //   border-color: green;
      // }

      input.Question:not([value=""]) + label > span,
      textarea.Question:not(:empty) + label > span {
        z-index: 1000;
        font-size: 1rem;
        top: -50px;
      }

      input.Question:invalid + label,
      textarea.Question:invalid + label {
        box-shadow: none;
      }

      input.Question + label > span,
      textarea.Question + label > span {
        font-weight: 300;
        margin: 0;
        position: absolute;
        color: $color-primary;
        font-size: 1rem;
        top: -30px;
        left: 0px;
        z-index: -1;
        -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
      }

      @-webkit-keyframes appear {
        100% {
          opacity: 1;
        }
      }

      @keyframes appear {
        100% {
          opacity: 1;
        }
      }
    }
    & .Button {
      margin-top: 5%;
    }
  }
}
